[Unit]
Description=Windrose Server Monitor
Documentation=https://github.com/VegyBS/windrose-monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=windrose-monitor
Group=windrose-monitor

# Ensure predictable working directory
WorkingDirectory=/var/lib/windrose-monitor

# Load environment variables
EnvironmentFile=/etc/windrose-monitor/.env

# Allow direct CPU scaling (no sudo required)
ReadWritePaths=/sys/devices/system/cpu

# Restart behaviour
Restart=on-failure
RestartSec=10
SyslogIdentifier=windrose-monitor

# File logging (matches Python logger)
StandardOutput=append:/var/log/windrose-monitor/windrose-monitor.log
StandardError=append:/var/log/windrose-monitor/windrose-monitor.log

# Security Hardening
NoNewPrivileges=no
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
ProtectHostname=true
ProtectKernelTunables=false
ProtectKernelModules=false
ProtectKernelLogs=false
ProtectClock=true
RestrictSUIDSGID=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
CapabilityBoundingSet=CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_ADMIN
SystemCallFilter=@system-service


# Start the monitor using the venv
ExecStart=/var/lib/windrose-monitor/venv/bin/python /var/lib/windrose-monitor/run-application.py

[Install]
WantedBy=multi-user.target
